.test-bar {
    font-size: 3.1em;
    font-weight: bolder;
    color: orangered;
    text-align: center;
    padding: 10px 10px;
    margin: 40px 40px;
    border-radius: 50px;
    align-self: center;
    width: 30%;
}

.test-items {
    margin: 0px 50px;
}

.people-bar {
    display: flex;
    flex: 4;
    padding: 1px 1px;
}

.people-bar>div>img {
    width: 200px;
    border-radius: 380px;
    height: 200px;
    object-fit: cover;
    padding: auto;
}

.desc-item {
    padding: 100px 100px;
}

.mg-t-5 {
    margin-top: 5px;
    padding-left: 30px;
    color: orangered;
}